.modal-background { 
    display: none;
    position: fixed;
    background:/*#005346*/black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity:0.5;
    z-index: 2;
}





.modalstyledcapt{
     display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /************************************/
    max-width: 750px;
    max-height: 550px;
    min-width: 100px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
    border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;  
}
/** se utilizan opara los errores **/
.error {
  
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 30%;
    max-height: 350px;
    min-width: 100px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
     z-index: 5;

}

.error2 {
  
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    webkit-transition: all .25s linear; 
    transition: all .25s linear; 
    width: 30%;
    max-height: 550px;
    min-width: 750px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
    z-index: 3;
}


.backgroundError { 

    position: fixed;
    background:/*#005346*/black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity:0.5;
    z-index: 2;
}

    /************************************/
/*Modal para edirtar los grados academicos*/
.fonodvistaModal { 

    position: fixed;
    background:/*#005346*/black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity:0.5;
    z-index: 1;
}
.vistaModal {
   display: block;
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /************************************/
    width: 55%;
    height:60%;
    maax-height: 70%;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
 
}

/******Modales Ocultos*******/
.modalstyled {
   display: none;
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /************************************/
    width: 50%;
    height:50%;
    max-height: 70%;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
 
}
.modaloculto {
  display: none;
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 30%;
    max-height: 350px;
    min-width: 100px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
    z-index: 4;

}



.divError {
  display: none;
    position: fixed;
    font-size: 12px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 30%;
    max-height: 350px;
    min-width: 100px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
    z-index: 4;

}


.backgroundHide { 
    display: none;
    position: fixed;
    background:black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity:0.5;
    z-index: 2;
}




.background-Modal{
     display: none;
     position: fixed;
    background:/*#005346*/black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity:0.5;
    z-index: 2;
}

.privacidad {

    position: fixed;
    font-size: 12px;
    top: 42%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /************************************/
    width: 65%;
    height:75%;
    max-height: 90%;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
 
}

.visualizador{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 10;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 100%;
    min-height: 300px;
    min-width: 180px;
    overflow: auto;
    background:white;
    padding: 12px 14px;
     border: 8px solid;
    border-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;
    box-shadow: 0 3px 14px -4px #000;
    overflow-y: auto;
    
}